@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* -------------------------------------- HERO  ---------------------------------------*/


.hero {
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(img/hero/op.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* -------------------------------------- NAVBAR  ---------------------------------------*/

.navbar {
    width: 100%;
    height: 80px;
}

.logo {
    height: 80px;
    color: #fff;
    width: 30%;

    line-height: 75px;
    vertical-align: center;
    box-sizing: border-box;
    position: relative;
    float: left;
}


.logobg {
    position: absolute;
    top: 15px;
    left: 20px;
    height: 50px;
    width: 50px;

    background-image: url(img/hero/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo span {
    position: absolute;
    top: 4px;
    left: 90px;
    font-size: 1.25em;
    /* 20 / 16 */
    font-weight: 200;
    text-shadow: 5px 5px 8px black;
}

nav {
    text-align: center;
    float: left;
    height: 100%;
    width: 70%;
    text-shadow: 5px 5px 8px black;
}

nav ul {
    float: right;
    padding: 0;
    padding-top: 30px;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    text-align: left;
    margin-right: 50px;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

/* Motto and button*/
.hero-content {
    width: 100%;
    height: calc(100% - 80px);
}

.motto {
    text-shadow: 3px 3px 5px #000;
    margin: 0 auto;
    margin-top: 640px;
    /* width: 31.578947%; 600 / 1900 */
    width: 37.5em;
    /* 600 / 1900 */
    min-width: 400px;
    height: 200px;
    color: #fff;
}

.motto h4 {
    font-size: 2.8125em;
    /* font-size: 2.4vw; */
    min-width: 1.5vw;
    font-weight: 250;
    margin: 0;
}

.motto p {
    font-size: 1em;
    /* font-size: 0.8vw; */
    font-weight: 200;
}

.hero-btn {
    margin: 10px 60px;
    float: right;
    /* width: 220px; */
    width: 11.458vw;
    height: 54px;
    border: 1px solid #fff;
    text-align: center;
    font-weight: 200;
    font-size: 1em;
    box-sizing: border-box;
    min-width: 150px;
    padding: 15px;
    color: #fff;
}

.hero-btn:hover {
    background-color: rgb(240, 240, 240);
    color: #3F3F3F;
    cursor: pointer;
    text-shadow: none;
    font-weight: 400;
    transition-duration: .5s;
    transition-timing-function: ease;
}

/* -------------------------------------- WELCOME  ---------------------------------------*/

.welcome {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

/* Welcome title */
.welcome-title {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 2.5em;
    font-weight: 400;
    margin: auto;
    margin-top: 100px;
}

/* Welcome intro text */
.welcome-intro {
    margin: auto;
    margin-top: 50px;
    font-size: 1.1em;
    /* 21 / 16 */
    line-height: 35px;
    text-align: center;
    width: 47.552083%;
    /* 913 / 1920 */
    color: #3F3F3F;
}

/* Welcome content */
.welcome-container {
    margin: 70px auto;
    width: 71.315789%;
    /* 1355 / 1900 */
    height: 600px;
}

.side-part {
    float: left;
    height: 100%;
    width: 44.85%;
}

.welcome-content {
    height: 100px;
    width: 100%;
}

.welcome-content img {
    width: 70px;
    margin: 0 10px;
    margin-top: 15px;
}

.planification {
    margin-top: 200px;
}

.planification img {
    float: right;
}

.planification .section {
    padding-top: 15px;
    text-align: right;
}

.creativity .section {
    padding-top: 17px;
    text-align: right;
}

.creativity {
    margin-top: 150px;
}

.creativity img {
    float: right;
}

.matter-detail {
    margin-top: 75px;
}

.matter-detail img {
    float: left;
}

.matter-detail .section {
    padding-top: 15px;
}

.building-dreams {
    margin-top: 150px;
}

.building-dreams img {
    float: left;
}

.building-dreams .section {
    padding-top: 15px;
}

.section h4 {
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

.section p {
    margin: 0;
    color: #3F3F3F;
    /* font-size: 1.3125em; */
}

.center-part {
    float: left;
    height: 100%;
    width: 10%;
}

.side-bars {
    float: left;
    height: 100%;
    width: 49.25%;
}

.first {
    border-right: 1px solid black;
}

.bars-big {
    height: 250px;
    border-bottom: 1px solid #000;
}

.bars-small {
    height: 125px;
    border-bottom: 1px solid #000;
}

/* -------------------------------------- SERVICES  ---------------------------------------*/

.services {
    height: 100%;
    width: 100%;
    background-color: #EFEFEF;
}

.services-title {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 2.5em;
    font-weight: 400;
    margin: auto;
    padding-top: 30px;
}

.services-intro {
    margin: auto;
    margin-top: 30px;
    font-size: 1.1em;
    /* 21 / 16 */
    line-height: 35px;
    text-align: center;
    width: 47.552083%;
    /* 913 / 1920 */
    color: #3F3F3F;
}

.services-container {
    margin: auto;
    width: 85.789473%;
    /* 1630 / 1900 */
    height: 730px;
    margin-top: 30px;
}

.services-items {
    width: 30.674846%;
    /* 500 / 1630 */
    height: 700px;
    display: inline-block;
    margin: 2px 18px;
    transition-duration: .5s;
    transition-timing-function: ease;
    background-color: #fff;
}

.services-items:hover {
    box-shadow: 5px 5px 10px #3F3F3F;
    transform: translate(-5px, -5px);
}

.service-img {
    width: 100%;
    height: 378px;
}

.services-content {
    width: 100%;
    height: calc(100% - 378px);
    box-sizing: border-box;
    margin: 5px;
}

.service-content h4 {
    font-size: 1.625em;
    /* 26 / 16 */
    font-weight: 500;
    margin: 20px 30px;
}

.service-content p {
    font-size: 1.1em;
    margin: 0 30px;
    margin-bottom: 38px;
    line-height: 27px;
    width: 90%;
    color: #3F3F3F;
}

.learn-btn {
    box-sizing: border-box;
    font-size: 1.1em;
    width: 184px;
    height: 40px;
    border: 1px solid #3F3F3F;
    background-color: #FF960B;
    text-align: center;
    padding-top: 7px;
    margin-left: 30px;
}

.learn-btn:hover {
    cursor: pointer;
}

/* -------------------------------------- DREAMS  ---------------------------------------*/

.dreams {
    height: 420px;
    width: 100%;

    background-image: url(img/dreams/dreams.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.dreams-content {
    margin: 0 auto;
    width: 600px;
    height: 115px;
    text-align: right;

    padding-top: 40px;
}

.dreams h4 {
    font-size: 28px;
    /* 28 / 16 */
    font-weight: 400;
    color: #3F3F3F;
    margin: 0;
}

.dreams .start-btn {
    width: 230px;
    height: 50px;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;

    margin-top: 20px;
    float: right;
    text-align: center;
    font-size: 1.25em;
    /*20 / 16*/
    padding-top: 9px;

    transition: .5s;
    transition-timing-function: ease;
}

.start-btn:hover {
    cursor: pointer;
    background-color: #FF960B;
}

/* -------------------------------------- TEAM  ---------------------------------------*/

.team {
    height: 100%;
    width: 100%;
}

/* Team title */
.team-title {
    text-align: center;
    width: 10.526315%;
    /* 200 / 1900 */
    height: 4.629629%;
    /* 50 / 1080 */
    font-size: 2.5em;
    font-weight: 400;
    margin: auto;
    margin-top: 80px;
}

/* Team intro text */
.team-intro {
    margin: auto;
    margin-top: 50px;
    font-size: 1.1em;
    /* 21 / 16 */
    line-height: 35px;
    text-align: center;
    width: 47.552083%;
    /* 913 / 1920 */
    color: #3F3F3F;
}

.team-container {
    width: 83.684210%;
    /* 1590 / 1900 */
    height: 46.296296%;
    /* 500 / 1080 */
    margin: 90px auto;
}

.team-item {
    width: 21.383647%;
    /* 340 / 1590 */
    height: 500px;
    float: left;

    margin: 0 25px;
    background-color: #3F3F3F;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.team-img {
    width: 100%;
    height: 415px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.team-img .rrss {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    opacity: 0;
}

.team-img img {
    width: 34px;
    padding: 10px;
    margin-top: 350px;
}

.team-item:hover {
    box-shadow: 5px 5px 10px #3F3F3F;
    transform: translate(-5px, -5px);
    cursor: pointer;
}

.rrss:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.25);
    transition-duration: .5s;
    transition-timing-function: ease;
}

.lara {
    background-image: url(img/team/empleada1.jpg);
}

.dan {
    background-image: url(img/team/empleado2.jpg);
}

.max {
    background-image: url(img/team/empleado3.jpg);
}

.emma {
    background-image: url(img/team/empleada4.jpg);
}

.team-content {
    text-align: center;
    margin-top: 10px;
}

.team-content h4 {
    color: #fff;
    font-size: 1.4375em;
    /* 23 / 16 */
    font-weight: 300;
    margin: 0;
}

.team-content p {
    margin: 10px 0;
    color: #FF960B;
    font-size: 1em;
    font-weight: 200;
}

/* -------------------------------------- GOALS  ---------------------------------------*/

.goals {
    height: 100%;
    width: 100%;
}

/* Goals title */
.goals-title {
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 2.5em;
    font-weight: 400;
    margin: auto;
    margin-top: 80px;
}

.goals-container {
    width: 1650px;
    height: 755px;
    margin: 50px auto;
}

.goals-item {
    display: inline-block;
    width: 820px;
    height: 375px;
}

.goals-item img {
    width: 250px;
    margin-top: 50px;
}

.goals-item .left-circles {
    float: right;
    margin-right: 20px;
}

.goals-item .right-circles {
    float: left;
    margin-left: 20px;
}

.goals-content {
    width: 440px;
    height: 220px;
    margin-top: 30px;
}

.goals-content p {
    font-size: 1.1em;
    font-weight: 300;
    color: #3F3F3F;
}

.goals-content h4 {
    font-size: 1.5em;
    /* 24 / 16 */
    font-weight: 500;
}

.goals-content span {
    color: #FF960B;
}

.right {
    float: left;
    text-align: left;
    margin-left: 40px;
}

.left {
    float: right;
    text-align: right;
    margin-right: 40px;
}

/* -------------------------------------- POWERING  ---------------------------------------*/

.powering {
    height: 420px;
    width: 100%;

    background-image: url(img/powering/livingroom.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.powering-content {
    margin: 0 auto;
    width: 58.947368%;
    /* 1120 / 1900 */
    height: 100%;
    text-align: center;
    text-shadow: 5px 5px 8px #3F3F3F;
}

.powering-content h4 {
    font-size: 48px;
    font-weight: 300;
    color: #fff;
    padding-top: 100px;
}

.powering-content span {
    color: #FF960B;
    font-weight: 700;
}

.powering-content .start-btn {
    text-shadow: none;
    box-sizing: border-box;
    width: 250px;
    height: 64px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.5em;
    /* 24 / 16 */
    margin: 0 auto;
    padding: 14px;

    transition-duration: .5s;
    transition-timing-function: ease;
}

.powering-content .start-btn:hover {
    background-color: #FF960B;
    border: 1px solid #FF960B;
}

/* -------------------------------------- TESTIMONIALS  ---------------------------------------*/

.testimonials {
    height: 100%;
    width: 100%;
    position: relative;
}

.testimonials-title {
    text-align: center;
    width: 10.526315%;
    /* 200 / 1900 */
    height: 4.629629%;
    /* 50 / 1080 */
    font-size: 2.5em;
    font-weight: 400;
    margin: auto;
    margin-top: 80px;
}

.arrow-right {
    height: 30px;
    width: 30px;
    background-image: url(img/testimonials/arrow-right.svg);

    position: absolute;
    right: 50px;
    top: 350px;
}

.arrow-left {
    height: 30px;
    width: 30px;
    background-image: url(img/testimonials/arrow-left.svg);

    position: absolute;
    left: 50px;
    top: 350px;
}

.testimonials-container {
    width: 1260px;
    height: 340px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
}

.testimonials-item {
    display: inline-block;
    margin-left: 40px;
    width: 575px;
    height: 330px;
    border: 1px solid #b3b3b3;
}

.testimonials-header {
    display: inline-block;
    position: relative;
}

.quotes {
    width: 55px;
    height: 55px;
    background-image: url(img/testimonials/quotes.svg);
    color: #3F3F3F;

    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 40px;
    float: left;
}

.testimonials-header h4 {
    color: #FF960B;
    display: inline-block;
    line-height: 40px;
    margin-left: 150px;
    font-size: 20px;
    font-weight: 600;
}

.testimonials-item p {
    color: #3F3F3F;
    font-weight: 300;
    width: 520px;
    margin: auto;
    font-size: 21px;
}

.testimonial-face {
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
    height: 130px;
    width: 130px;
    position: absolute;
    top: -40px;
    margin-left: 50px;
    border: 1px solid #969696;
}

.testimonial1 {
    background-image: url(img/testimonials/opinion1.jpg);
}

.testimonial2 {
    background-image: url(img/testimonials/opinon2.jpg);
}

.slider {
    width: 100px;
    height: 15px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #3F3F3F;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.active {
    width: 12px;
    height: 12px;
    background-color: #3F3F3F;
}

.partners-container {
    width: 1260px;
    height: 110px;
    margin: 80px auto;
    text-align: center;
    box-sizing: border-box;
}

.partner {
    height: 100px;
    width: 130px;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 0 50px;
    opacity: 0.75;
}

.partner1 {
    background-image: url(img/testimonials/partners/partner1.png);
    width: 128px;
}

.partner2 {
    background-image: url(img/testimonials/partners/partner2.png);
    width: 118px;
}

.partner3 {
    background-image: url(img/testimonials/partners/partner3.png);
    width: 206px;
}

.partner4 {
    background-image: url(img/testimonials/partners/partner4.png);
    width: 145px;
}

.partner5 {
    background-image: url(img/testimonials/partners/partner5.png);
    width: 120px;
}

/* -------------------------------------- FOOTER  ---------------------------------------*/

footer {
    height: 745px;
    width: 100%;
    background-color: #000;
    /* padding-top: 120px; */
}

.footer-items {
    width: 720px; /* 760 / 1920 */
    height: 620px;
    border: 1px solid black;
    margin: auto;
}

.footer-items .logo {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
}

.logo-footer .logobg {
    left: 0;
    top: 100px;
}

.logo-footer span {
    top: 90px;
}

.footer-content {
    height: 290px;
    width: 100%; 
    margin-top: 250px;
    color: #fff;
}

.footer-content h4 {
    width: 100%;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 1em;
}

.about-us h4 {
    margin-left: 45px;
    font-size: 18px;
}

.column {
    width: 25%;
    height: 220px;
    float: left;
    font-size: 18px;
    font-weight: 100;
    border-right: 1px solid white;
}

.support {
    box-sizing: border-box;
    padding: 0 40px;
}

.about-us {
    float: left;
    width: 49%;
    height: 200px;
}

.about-us>div {
    margin-left: 45px;
}

.location {
    background-image: url(img/footer/location.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 25px;
    margin-top: 15px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    box-sizing: border-box;
}

.phone {
    background-image: url(img/footer/phone.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 25px;
    margin-top: 30px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}

.about-us .rrss {
    margin-top: 40px;
    height: 25px;
    width: 100%;
}

.about-us .rrss>div {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 40px;
}

.pinterest {
    background-image: url(img/footer/pinterest.svg);
}

.instagram {
    background-image: url(img/footer/instagram.svg);
}

.facebook {
    background-image: url(img/footer/facebook.svg);
}

.gmail {
    background-image: url(img/footer/gmail.svg);
}

.copy {
    width: 530px;
    height: 90px;
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
}

.copy h4 {
    font-weight: 100;
}

.copy-content {
    width: 100%;
    height: 20px;
    margin: auto;
    margin-top: 30px;
}

.copy-content>div {
    width: 30%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.terms-conditions,
.privacy {
    border-right: 1px solid white;
}

/* -------------------------------------- PRICES  ---------------------------------------*/

.hero-external {
    height: 500px;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-prices {
    background-image: url(img/prices/hero4.jpg);
}

.hero-external-container {
    position: relative;
    width: 100%;
    height: 420px;
    color: #fff;
}

.external-motto {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 240px;
    text-shadow: 5px 5px 7px black;
}

.external-motto h4 {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}

.external-motto p {
    font-size: 25px;
}

.prices-motto p {
    font-weight: 300;
}

.prices {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.prices h1 {
    padding: 70px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #3F3F3F;
}

.prices-container {
    height: 510px;
    width: 1600px;
    margin: auto;
}

.prices-item {
    height: 500px;
    width: 350px;
    border: 1px solid #b3b3b3;
    float: left;
    margin-left: 40px;
    text-align: center;
    transition: .5s ease;
}

.prices-item:hover {
    box-shadow: 0 5px 8px #9b9b9b;
    transform: translate(0, -10px);
}

.prices-item h2 {
    font-size: 72px;
    font-weight: 500;
    font-style: italic;
    margin: 35px 0;
}

.custom-title {
    font-size: 72px;
    font-weight: 500;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 35px;
}

.prices-item h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: #3F3F3F;
}

.prices-item p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 21px;
    color: #3F3F3F;
}

.begin-btn {
    box-sizing: border-box;
    margin: 40px auto;
    padding: 12px;
    width: 175px;
    height: 50px;
    border: 1px solid #3F3F3F;
}

.target {
    margin: auto;
    font-size: 14px;
    width: 180px;
    height: 30px;
    color: white;
    box-sizing: border-box;
    font-style: italic;
    padding: 5px;
}

.recommended {
    background-color: #3CD67E;
}

.popular {
    background-color: #745BCE;
}

.begin-btn:hover {
    cursor: pointer;
}

.basic-btn {
    background-color: #FF960B;
}

.completed-btn {
    background-color: #33C7EF;
}

.technical-btn {
    background-color: #FFA4FB;
}

.extended-btn {
    background-color: #C899FF;
}

.basic {
    color: #FF960B;
}

.completed {
    color: #33C7EF;
}

.technical {
    color: #FFA4FB;
}

.extended {
    color: #C899FF;
}

.custom-price {
    height: 80px;
    width: 400px;
    margin: 70px auto;
}

.custom-price>* {
    display: inline-block;
    vertical-align: middle;
}

.custom-price h4 {
    font-size: 20px;
    font-weight: 500;
    color: #3F3F3F;
}

.custom-price .phone {
    margin: 0 5px;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url(img/prices/phone.svg);
}

/* -------------------------------------- CONTACT  ---------------------------------------*/
.hero-contact {
    background-image: url(img/contact/contact-hero.jpg);
}

.contact-motto p {
    font-weight: 100;
}

iframe {
    width: 100%;
    height: 370px;
}

.contact {
    width: 100%;
    height: 870px;
    padding: 100px 0;
    box-sizing: border-box;
    background-color: #EFEFEF;
}

.contact-container {
    margin: auto;
    width: 1160px;
    height: 670px;
    border: 1px solid black;
}

.contact-part {
    width: 440px;
    height: 670px;
    background-color: #3F3F3F;
    float: left;
}

.contact-item {
    width: 100%;
    height: 100px;
    margin-top: 40px;
    margin-left: 40px;
}

.location-img {
    width: 35px;
    height: 45px;

    background-image: url(img/contact/location.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    float: left;
}

.smartphone-img {
    width: 35px;
    height: 45px;

    background-image: url(img/contact/smartphone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    float: left;
}

.gmail-img {
    width: 35px;
    height: 25px;

    background-image: url(img/contact/gmail.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    float: left;
}

.contact-content {
    float: left;
    color: #fff;
    margin-left: 26px;
}

.contact-content h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
}

.contact-content p {
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
}

.contact-content .redes {
    width: 100%;
    height: 325px;
    margin-top: 40px;
}

.contact-content .redes .rrss-item {
    height: 25px;
    width: 25px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-right: 25px;
    float: left;
}

.redes img {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 25px;
}

.form-part {
    width: calc(100% - 440px);
    height: 670px;
    float: left;
}

.form-part form {
    margin-left: 90px;
}

.form-part label {
    display: block;
    margin-top: 50px;
    font-size: 22px;
}

.form-part input {
    outline: none;
    margin-top: 22px;
    font-size: 20px;
    padding: 0;
    width: 530px;
    height: 30px;
}

.form-part textarea {
    outline: none;
    font-size: 20px;
    resize: none;
    width: 530px;
    height: 185px;
    margin-top: 22px;
}

.form-part .submit-btn {
    display: block;
    width: 160px;
    height: 45px;
    background-color: #FF960B;
    text-align: center;
    border: 1px solid black;
    color: #fff;
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
    margin: 30px 0;
    padding: 8px;
}

.form-part .submit-btn:hover {
    cursor: pointer;
}

/* -------------------------------------- PROJECTS  ---------------------------------------*/

.hero-projects {
    background-image: url(img/projects/hero-project.jpg);
}

.projects-motto {
    font-weight: 200;
}

.projects {
    width: 100%;
    height: 1260px;
    box-sizing: border-box;
    padding-top: 85px;
}

.projects-container {
    width: 1000px;
    height: 1070px;
    margin: auto;
    box-sizing: border-box;
}

.project-item {
    width: 850px;
    height: 300px;
    border: 1px solid #3F3F3F;
    margin-bottom: 85px;
    transition: .5s ease;
}

.project-item:hover {
    box-shadow: 2px 2px 5px #3F3F3F;
}

.project-left {
    float: left;
}

.project-right {
    float: right;
}

.project-img {
    width: 500px;
    height: 300px;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project1 {
    background-image: url(img/projects/project2.jpg);
    float: left;
}

.project2 {
    background-image: url(img/projects/project3.jpg);
    float: right;
}

.project3 {
    background-image: url(img/projects/project1.jpg);
    float: left;
}

.project-content {
    box-sizing: border-box;
    float: left;
    width: 350px;
    height: 300px;
    padding-left: 30px;
}

.project-content h4 {
    font-size: 1.1875em; /* 19 / 16 */
    font-weight: 500;
    margin-bottom: 30px;
}

.project-content p {
    margin: 20px 0;
    font-size: 1em;
    font-weight: 300;
    color: #3F3F3F;
    display: block;
}

.rating p,
.stars {
    display: inline-block;
}

.rating p {
    margin-right: 10px;
}

.rating img {
    width: 20px;
    height: 20px;
}

.review {
    border-top: 1px dotted #3F3F3F;
    width: 90%;
    height: 45px;
    margin: 0;
    margin-top: 45px;
    vertical-align: middle;
    padding: 10px;
}

.review>* {
    float: left;
}

.visits>* {
    float: left;
}

.comments>* {
    float: left;
}

.review img {
    height: 12px;
    width: 20px;
}

.review p {
    font-size: 0.75em; /* 12 / 16 */
    margin: 0;
    margin-right: 5px;
}

.review .read-more:hover {
    cursor: pointer;
}

.pages {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin: 40px auto;
    width: 80px;
    height: 25px;
}

.page-item {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    font-size: 14px;
    transition: .25s ease;
}

.page-item:hover {
    color: white;
    background-color: #3F3F3F;
    cursor: pointer;
}

.page1 {
    left: 0;
    background-color: #3F3F3F;
    color: white;
}

.page2 {
    left: 30px;
}

.page3 {
    left: 60px;
}

@media only screen and (max-width: 1600px) {
    .prices {
        height: 150vh;
    }

    .prices-container {
        width: 800px;
        height: 510px;
    }

    .prices-item {
        margin-bottom: 40px;
    }

    .custom-price {
        text-align: center;
        margin: 20px auto;
    }

    .custom-price h4 {
        margin: 0;
    }
}


@media only screen and (max-width: 1200px) {

    /* -------------------------------------- NAVBAR  ---------------------------------------*/
    .menu-bars {
        background-image: url(img/hero/menu-bars.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        margin-top: 20px;
        float: right;
    }

    .menu-bars:hover+nav {
        display: block;
    }

    .navbar {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
    }

    .logo {
        width: 80%;
    }

    nav ul {
        float: right;
        display: block;
        padding-left: 30px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    nav ul li {
        display: block;
        margin-right: 20px;
        margin-bottom: 40px;
        text-align: right;
    }

    .external-motto {
        left: 100px;
    }

    .projects-container {
        box-sizing: border-box;
        width: 100vw;
    }

    .project-item {
        margin: auto;
        margin-bottom: 85px;
        float: none;
        display: block;
        width: 70%;
        height: 300px;
    }

    .project-img {
        width: 60%;
        height: 300px;
    }

    .rating img {
        width: 2vw;
        height: 2vh;
    }

    .project-content {
        width: 40%;
        height: 300px;
    }

    .project-content h4 {
        font-size: 1.6vw; 
    }

    .project-content p {
        font-size: 1.4vw;
    }

    .review {
        margin-top: 30px;
    }

    .review p {
        margin-bottom: 0.5vw;
    }

    .read-more {
        margin-bottom: 10vh;
    }

    .read-more, .visits, .comments {
        display: block;
        float: none;
    }

    .review p {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 1000px) {
    /* -------------------------------------- PROJECTS  ---------------------------------------*/

    .projects {
        height: 2140px;
    }

    .projects-container {
        height: 1950px;
        width: 90%;
    }

    .project-img, .project-content {
        float: none;
    }

    .project-img {
        width: 100%;
    }

    .project-content {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(63, 63, 63, 0.5);
    }

    .project-item {
        border: none;
        height: 30%;
    }

    .project-content h4 {
        font-size: 1.1875em;
    }

    .project-content p {
        font-size: 1em;
    }

    .rating img {
        width: 20px;
        height: 20px;
    }

    .review p {
        font-size: 10px;
    }

    /* -------------------------------------- FOOTER  ---------------------------------------*/
    .footer-items {
        width: 100%;
    }

    .footer-items .logo , .footer-content{
        margin-left: 8%;
    }
}

@media only screen and (max-width: 720px) {
    /* -------------------------------------- FOOTER  ---------------------------------------*/
    footer {
        height: 745px;
    }

    .footer-items .logo {
        margin: auto;
        width: 100%;
    }

    .footer-items img {
        width: 40px;
        height: 40px;
    }

    .logo-footer .logobg {
        left: 40px;
    }

    .logo-footer span {
        left: 120px;
    }

    .footer-items .logo h4 {
        font-size: 1.2em;
        top: 85px;
        margin-left: 60px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .footer-items {
        width: 100%;
        height: 620px;
    }

    .footer-content {
        height: 75%;
        margin: 0;
    }

    .footer-items .logo {
        float: none;
        margin: 0 auto;
        height: 200px;
        text-align: center;
    }
    
    .column {
        border: none;
        float: none;
        text-align: center;
        width: 50%;
        margin: 20px auto;
    }

    .about-us {
        margin: 0 auto;
        float: none;
        padding: 0;
        width: 100%;
    }

    .about-us-content {
        width: 220px;
    }

    .about-us>div {
        margin: 0 auto;
    }

    .about-us .rrss {
        width: 200px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .about-us .rrss> div {
        margin: 0 10px;
    }

    .about-us h4 {
        text-align: center;
        margin: 0;
    }

    .support {
        display: none;
    }

    .copy h4 {
        margin: 0;
    }

    .copy {
        width: 50%;
        height: 20px;
        margin: 70px auto;
    }

    .copy-content {
        display: none;
    }
}

@media only screen and (max-width: 500px) {

    /* -------------------------------------- NAVBAR  ---------------------------------------*/
    .logobg {
        top: 20px;
        height: 40px;
        width: 40px;
    }

    .logo span {
        left: 80px;
        font-size: 1em;
    }

    .menu-bars {
        width: 30px;
        height: 30px;
    }

    .external-motto {
        left: 20px;
    }

    .external-motto h4 {
        font-size: 30px;
    }

    .external-motto p {
        font-size: 20px;
    }

    .project-item {
        width: 90%;
    }

    .project1, .project3 {
        background-position: center left;
    }

    /* -------------------------------------- FOOTER  ---------------------------------------*/

    .logo-footer span {
        top: 85px;
        left: 100px;
    }
}