@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

/* Hero section */

.hero {
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(img/hero/op.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Navbar  */

.navbar {
    width: 100%;
    height: 80px;
}

.logo {
    height: 80px;
    color: #fff;
    width: 30%;

    line-height: 75px;
    vertical-align: center;
    box-sizing: border-box;
    position: relative;
    float: left;
}


.logobg {
    position: absolute;
    top: 15px;
    left: 20px;
    height: 50px;
    width: 50px;

    background-image: url(img/hero/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo span {
    position: absolute;
    top: 4px;
    left: 90px;
    font-size: 1.25em; /* 20 / 16 */
    font-weight: 200;
}

.hero nav {
    text-align: center;
    float: left;
    height: 100%;
    width: 70%;
}

.hero nav ul {
    float: right;
    padding: 0;
    padding-top: 30px;
    margin: 0;
    list-style: none;
}

.hero nav ul li {
    display: inline-block;
    text-align: left;
    margin-right: 50px; 
    box-sizing: border-box;
}

.hero nav a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

/* Motto and button*/
.hero-content {
    width: 100%;
    height: calc(100% - 80px);
}

.motto {
    text-shadow: 3px 3px 5px #000;
    margin: 0 auto;
    margin-top: 640px;
    width: 31.578947%; /* 600 / 1900 */
    height: 200px;
    color: #fff;
}

.motto h4 {
    font-size: 2.8125em; /* 45 / 16 */
    font-weight: 250;
    margin: 0;
}

.motto p {
    font-size: 1em;
    font-weight: 200;
}

.hero-btn {
    margin: 10px 60px;
    float: right;
    width: 220px;
    height: 54px;
    border: 1px solid #fff;
    text-align: center;
    font-weight: 200;
    font-size: 1em; /*16 / 16*/
    box-sizing: border-box;
    padding: 15px;
    color: #fff;
}

.hero-btn:hover {
    background-color: rgb(240, 240, 240);
    color: #3F3F3F;
    cursor: pointer;
    text-shadow: none;
    font-weight: 400;
    transition-duration: .5s;
    transition-timing-function: ease;
}

/* Welcome */
.welcome {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

/* Welcome title */
.welcome-title {
    width: 200px;
    height: 50px;
    font-size: 2.5em;
    font-weight: 400;
    margin: auto;
    margin-top: 100px;
}

.marks {
    position: relative;
}

.markgray {
    position: absolute;
    bottom: 150px; 
    right: 43.75%; 
    width: 30px;
    height: 10px;
    border-top: 2px solid #3F3F3F;
    border-right: 2px solid #3F3F3F;
}

.markorange {
    position: absolute;
    top: -110px;
    left: 835px;
    width: 30px;
    height: 10px;
    border-left: 2px solid #FF960B;
    border-bottom: 2px solid #FF960B;
}

/* Welcome intro text */
.welcome-intro {
    margin: auto;
    margin-top: 50px;
    font-size: 1.1em; /* 21 / 16 */
    line-height: 35px;
    text-align: center;
    width: 47.552083%; /* 913 / 1920 */
    color: #3F3F3F;
}

/* Welcome content */
.welcome-container {
    margin: 70px auto;
    width: 71.315789%; /* 1355 / 1900 */
    height: 600px;
}

.side-part {
    float: left;
    height: 100%;
    width: 44.85%;
}

.welcome-content {
    height: 100px;
    width: 100%;
}

.welcome-content img {
    width: 70px;
    margin: 0 10px;
    margin-top: 15px;
}

.planification {
    margin-top: 200px;
}

.planification img {
    float: right;
}

.planification .section {
    padding-top: 15px;
    text-align: right;
}

.creativity .section {
    padding-top: 17px;
    text-align: right;
}

.creativity {
    margin-top: 150px;
}

.creativity img {
    float: right;
}

.matter-detail {
    margin-top: 75px;
}

.matter-detail img {
    float: left;
}

.matter-detail .section {
    padding-top: 15px;
}

.building-dreams {
    margin-top: 150px;
}

.building-dreams img {
    float: left;
}

.building-dreams .section {
    padding-top: 15px;
}

.section h4 {
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

.section p {
    margin: 0;
    color: #3F3F3F;
    /* font-size: 1.3125em; */
}

.center-part {
    float: left;
    height: 100%;
    width: 10%;
}

.side-bars {
    float: left;
    height: 100%;
    width: 49.25%;
}

.first {
    border-right: 1px solid black;
}

.bars-big {
    height: 250px;
    border-bottom: 1px solid #000;
}

.bars-small {
    height: 125px;
    border-bottom: 1px solid #000;
}

/* Services */
.services {
    height: 100%;
    width: 100%;
    background-color: #EFEFEF;
}

.services-title {
    width: 200px;
    height: 50px;
    font-size: 2.5em;
    font-weight: 400;
    margin: auto;
    padding-top: 30px;
}

.services-intro {
    margin: auto;
    margin-top: 30px;
    font-size: 1.1em; /* 21 / 16 */
    line-height: 35px;
    text-align: center;
    width: 47.552083%; /* 913 / 1920 */
    color: #3F3F3F;
}

.services-container {
    margin: auto;
    width: 85.789473%; /* 1630 / 1900 */
    height: 730px;
    margin-top: 30px;
}

.services-items {
    width: 30.674846%; /* 500 / 1630 */
    height: 700px; 
    display: inline-block;
    margin: 2px 18px;
    transition-duration: .5s;
    transition-timing-function: ease;
    background-color: #fff;
}

.services-items:hover {
    box-shadow: 5px 5px 10px #3F3F3F;
    transform: translate(-5px, -5px);
}

.service-img {
    width: 100%;
    height: 378px;
}

.services-content {
    width: 100%;
    height: calc(100% - 378px);
    box-sizing: border-box;
    margin: 5px;
}

.service-content h4 {
    font-size: 1.625em; /* 26 / 16 */
    font-weight: 500;
    margin: 20px 30px;
}

.service-content p {
    font-size: 1.1em;
    margin: 0 30px;
    margin-bottom: 38px;
    line-height: 27px;
    width: 90%;
    color: #3F3F3F;
}

.learn-btn {
    box-sizing: border-box;
    font-size: 1.1em;
    width: 184px;
    height: 40px;
    border: 1px solid #3F3F3F;
    background-color: #FF960B;
    text-align: center;
    padding-top: 7px;
    margin-left: 30px;
}

.learn-btn:hover {
    cursor: pointer;
}

/* Dreams */
.dreams {
    height: 420px;
    width: 100%;

    background-image: url(img/dreams/dreams.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.dreams-content {
    margin: 0 auto;
    width: 600px;
    height: 115px;
    text-align: right;

    padding-top: 40px;
}

.dreams h4 {
    font-size: 28px; /* 28 / 16 */
    font-weight: 400;
    color: #3F3F3F;
    margin: 0;
}

.dreams .start-btn {
    width: 230px;
    height: 50px;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;

    margin-top: 20px;
    float: right;
    text-align: center;
    font-size: 1.25em; /*20 / 16*/
    padding-top: 9px;

    transition: .5s;
    transition-timing-function: ease;
}

.start-btn:hover {
    cursor: pointer;
    background-color: #FF960B;
}